*{
    margin:0;
    padding:0;
}

header{
    color:orange;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: grey;
    opacity:0.6;
    
}

.heading{
    font-size:40px;
    padding:10px
    
}
.sub-heading{
    font-size:15px;
    color:black;
    padding-bottom: 1%;
}


.button-container{
    display:flex;
    justify-content: center;
    margin: 0.8% 0;
  
    gap:10px;
}
.btn{
    background-color:orange;
    padding:2px 26px;
}

.outer-main-container{}

.pop-heading{
    text-align:center;
    font-size: 15px;
    margin:6px;
}